body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.section {
  margin: 20px;
}

.section h2 {
  margin-bottom: 10px;
}

.block-menu a {
  display: block;
  background-color: rgb(32, 131, 236);
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 5px;
}

.inline-menu a {
  display: inline;
  background-color: green;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 5px;
}

.inline-block-menu a {
  display: inline-block;
  background-color: rgb(4, 128, 128);
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
}

.float-menu a {
  float: left;
  background-color: orange;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
}

.clear {
  clear: both;
}
